<%- include("partials/header-index.ejs")  %>
<div class="container">
    <h1 class="title">Welcome To Taskify</h1> <br>
    <p class="intro"> Taskify is a simple and elegant to-do list app that helps you manage your tasks with ease. <br>
        Whether you need to plan your day, organize a project, or track your habits. Taskify has <br> your
        covered. You can create lists, add tasks, set reminders, prioritize, and sync across  <br> your devices.
        With Taskify, you can stay on top of your to-dos and achieve your goals.</p>
</div>

<%- include("partials/footer.ejs") %>