<%- include("partials/header-tasks.ejs")  %>

<div class="container-tasks">
    <h1 class="title">Lets Get Started</h1> <br>
    <div class="create"><p class="text-create">Create New Tasks</p></div>
    <div class="list">
        <ul>
            <% const date = new Date(); %>
            <% var currentDate = `${date.getFullYear()}-${String(date.getMonth()+1).padStart(2, "0")}-${String(date.getDate()).padStart(2, '0')}` %>
            <% if(locals.obj) { %>
                <% for(var i = 0; i < obj.length; i++) { %>
                        <% if(obj[i].date == currentDate) { obj[i].date = "Today"} %>
                        <li> <h2> <%= obj[i].date %> </h2>
                            <ul id="task">  
                                <li><input type="checkbox" class="cbox"> <span class="filled"><%= obj[i].task %> </span> <button><img src="images/delete.svg" style="width: 20px; height: 20px;"></button> </li> <br>
                            </ul>
                            <% initDate = obj[i].date %>
                        </li>
                <% } %>
            <% } %>       
        </ul>
        
    </div>
</div>
<div class="container-form">

    <form action="/tasks" method="POST">
        <label class="exit-button">Task Name</label>
        <input type="text" class="task-name" name="task"> <br>
        <label class="label-date">Choose a Date </label>
        <input type="date" class="date-name" name="date"> <br>
        <input type="submit" class="submit-btn"> <br>
        <button class="cancel">Cancel</button>
    </form>
</div>

<%- include("partials/footer.ejs")  %>